/* body,
html {
    background-color: none !important;
    background-image: none !important;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif !important;
    color: #444444 !important;
} */